
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    transition: all .175s ease;

}

body {
    font-family: $font-fam;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
   
}

.wrapper {
    width: 90%;
    max-width: 40rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    
    

    h1 {
        font-size: 4rem;
   


        @include mediaq(md) {
            font-size: 5rem;
        }
    }

    .theme-toggler__wrapper {
        display: flex;
        align-items: center;
        gap: .85rem;

        p {
            font-size: 2.25rem;

            @include mediaq(md) {
                font-size: 2.55rem;
                letter-spacing: 1px;
            }
        }
    }

    .theme-toggler {
        position: relative;
        height: 3rem;
        width: 8rem;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .theme-toggler span {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        background-color: transparent;
        position: relative;
        cursor: pointer;
        display: inline-block;    
    }

    .theme-toggler span::after {
        content: '1';
        position: absolute;
        font-size: 1.75rem;
        top: -3rem;

        @include mediaq(md) {
            font-size: 2rem;
            top: -3.5rem;

        }
    }

    .theme-toggler span:nth-of-type(1)::after {
        content: '1';
        left: .5rem;
    }

    .theme-toggler span:nth-of-type(2)::after {
        content: '2';
    }

    .theme-toggler span:nth-of-type(3)::after {
        content: '3';
    }

    .theme-toggler__btn {
        position: absolute;
        height: 1.85rem;
        width: 1.85rem;
        border-radius: 50%;
        top: 50%;
        left: 50%;

        &.theme-one {
            transform: translate(-175%, -50%);
        }

        &.theme-two {
            transform: translate(-50%, -50%);
        }

        &.theme-three {
            transform: translate(85%, -50%);
        }

    }

    
}

.calculator {
    &__output {
        text-align: right;
        border-radius: 5px;
        padding: 1rem;
        margin-bottom: 2rem;
        min-height: 9rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: end;
        
        @include mediaq(md) {
            padding: 2rem;
        }
    }

    &__display {
        font-size: 1.6rem;
    }

    &__result {
        font-size: 3.2rem;
    }

    &__body {
        font-size: 3.2rem;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
        padding: 1.25rem;
        border-radius: 5px;

        @include mediaq(md) {
            gap: 1.5rem;
            padding: 2rem;
        }
    }

    &__body div {
        display: grid;
        place-items: center;
        height: 7rem;
        border-radius: 5px;
        cursor: pointer;
    }

    &__neg-pos,
    &__clear,
    &__backspace {
        font-size: 2.5rem;
    }

    &__neg-pos {
        position: relative;
    }

    &__neg-pos span:first-child {
        position: absolute;
        top: 1rem;
    }

    &__neg-pos span:last-child {
        position: absolute;
        bottom: 1rem;
    }

    // 0
    &__body div:nth-of-type(1) {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    // 1
    &__body div:nth-of-type(2) {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }

    // 2
    &__body div:nth-of-type(3) {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    // 3
    &__body div:nth-of-type(4) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    // 4
    &__body div:nth-of-type(5) {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    // 5
    &__body div:nth-of-type(6) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    // 6
    &__body div:nth-of-type(7) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    // 7
    &__body div:nth-of-type(8) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    // 8
    &__body div:nth-of-type(9) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    // 9
    &__body div:nth-of-type(10) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    // +
    &__body div:nth-of-type(11) {
        
    }

    // *
    &__body div:nth-of-type(13) {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }

    //   /
    &__body div:nth-of-type(14) {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

        // .
    &__body div:nth-of-type(15) {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    // =
    &__body div:nth-of-type(16) {
        grid-column: 3 / 5;
        grid-row: 5 / 6;
    }

    // neg
    &__body div:nth-of-type(17) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    // clear
    &__body div:nth-of-type(18) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    // back
    &__body div:nth-of-type(19) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
   
}

