@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

$theme-1-white:  hsl(30, 25%, 89%);
$theme-1-accent: hsl(6, 63%, 50%);
$theme-1-slate-blue: hsl(222, 26%, 31%);
$theme-1-navy: hsl(223, 31%, 20%);
$theme-1-light-blue: hsl(225, 21%, 49%);
$theme-1-navy-light: hsl(224, 28%, 35%);
$theme-1-dark: hsl(223, 31%, 20%);


$theme-2-accent: #3B252C;
$theme-2-light: #E3E4DB;
$theme-2-gray: #cdcdcd;
$theme-2-off-purple: #AEA4BF;
$theme-2-purple: #7955b6;

$theme-3-dark: #27233A;
$theme-3-gray: #505168;
$theme-3-slate-green: #b3c0a4;
$theme-3-beige: #eaefd3;
$theme-3-cream: #dcc48e;

$font-fam: 'League Spartan', sans-serif;
$font-size: 62.5%;
$fw: 700;

